/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        char {
            // -----------------------------------------------------------------------------------------
            // | CTRL/ESC      |  Q         |  W     |  E     |  R      |  T  |       |  Y      |  U   |  I       |  O     |  P      |  -    |
            // | ALT/TAB       |  A         |  S     |  D     |  F      |  G  |       |  H      |  J   |  K       |  L     |  ;      |  '    |
            // | Shift         |  Z         |  X     |  C     |  V      |  B  |       |  N      |  M   |  ,       |  .     |  /      | shift |
            //                                       | GUI    | LWR     | SPC |       | BKSP    | RSE  | ENT      |

            bindings = <
&mt LCTRL ESC  &kp Q        &kp W           &kp E             &kp R               &kp T        &kp Y     &kp U                &kp I              &kp O            &kp P                &kp MINUS
&mt LALT TAB   &mt LCTRL A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LEFT_COMMAND F  &kp G        &kp H     &mt RIGHT_COMMAND J  &mt RIGHT_SHIFT K  &mt RIGHT_ALT L  &mt RCTRL SEMICOLON  &kp SQT
&kp LSHFT      &kp Z        &kp X           &kp C             &kp V               &kp B        &kp N     &kp M                &kp COMMA          &kp DOT          &kp FSLH             &kp RSHFT
                                            &kp LGUI          &mo 1               &kp SPACE    &kp BSPC  &mo 2                &kp RET
            >;
        };

        symbo {
            // -----------------------------------------------------------------------------------------
            // | CTRL/CAPS     |  1      |  2       |  3      |  4       |  5       |  |    6        |  7       |  8       |  9      |  0      |  `    |
            // | ALT/TAB       |  !      |  @       |  #      |  $       |  %       |  |    ^        |  &       |  *       |  (      |  )      |  \    |
            // |               |         |  _       |  =      |  {       |  }       |  |    [        |  ]       |  <       |  >      |  ?      |       |
            //                                      | GUI     |          | SPC      |  | ALT+BKSP    |          | ALT      |

            bindings = <
&mt LCTRL CAPS  &kp N1    &kp N2     &kp N3     &kp N4    &kp N5       &kp N6        &kp N7    &kp N8     &kp N9    &kp N0     &kp GRAVE
&trans          &kp EXCL  &kp AT     &kp HASH   &kp DLLR  &kp PRCNT    &kp CARET     &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR   &kp BSLH
&kp LSHFT       &kp PLUS  &kp UNDER  &kp EQUAL  &kp LBRC  &kp RBRC     &kp LBKT      &kp RBKT  &kp LT     &kp GT    &kp QMARK  &sk RSHFT
                                     &kp LGUI   &trans    &trans       &kp LA(BSPC)  &trans    &trans
            >;
        };

        function {
            // -----------------------------------------------------------------------------------------
            // |          |             |             |           |              |           |   |            |              |   up     |             | BT1       | BT clear all  |
            // |          |             |             |           |              |           |   | home       |   left       |  down    |  right      |  end      |               |
            // |          |             |             |           |              |           |   | prev       | volume -     |  play    | volume +    |  next     |               |
            //                                        | GUI       | LALT         | SPC       |   |            |              |          |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans      &trans        &kp UP    &trans        &trans      &bt BT_CLR_ALL
&trans  &trans  &trans  &trans  &trans  &trans    &kp HOME    &kp LEFT      &kp DOWN  &kp RIGHT     &kp END     &bt BT_SEL 0
&trans  &trans  &trans  &trans  &trans  &trans    &kp C_PREV  &kp C_VOL_DN  &kp C_PP  &kp C_VOL_UP  &kp C_NEXT  &bt BT_SEL 1
                        &trans  &trans  &trans    &trans      &trans        &trans
            >;
        };
    };
};
